<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div id="player-info">
        <h1>Here is my idol, my #1</h1>
        <br>
        <h2>Cristiano Ronaldo</h2>
        <ul>
          <li><strong>Full Name:</strong> Cristiano Ronaldo dos Santos Aveiro</li>
          <li><strong>Date of Birth:</strong> February 5, 1985</li>
          <li><strong>Nationality:</strong> Portuguese</li>
          <li><strong>Clubs:</strong> Sporting, Manchester United, Real Madrid, Juventus, Al-Nassr</li>
          <li><strong>Position:</strong> Forward</li>
          <li><strong>Jersey Number:</strong> 7</li>
        </ul>
        <img src="../public/images/ronaldo-ballon-dor.jpg" alt="cr7-goat">
      </div>
</body>
</html>