<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
</head>
<body>
    <div id="player-titles">
        <h2>Titles!</h2>
        
        <h3>Club Titles</h3>
        <ul>
          <li>Portuguese Super Cup (Sporting)</li>
          <li>Premier League 3x (Manchester United)</li>
          <li>FA Cup (Manchester United)</li>
          <li>Football League Cup 2x (Manchester United)</li>
          <li>UEFA Champions League (Manchester United)</li>
          <li>FIFA Club World Cup (Manchester United)</li>
          <li>FA Cup (Manchester United)</li>
          <li>Community Shield (Manchester United)</li>
          <li>La Liga 2x (Real Madrid)</li>
          <li>Copa del Rey 2x (Real Madrid)</li>
          <li>Spanish Super Cup 2x (Real Madrid)</li>
          <li>UEFA Champions League 4x (Real Madrid)</li>
          <li>UEFA Super Cup 2x (Real Madrid)</li>
          <li>FIFA Club World Cup 3x (Real Madrid)</li>
          <li>Serie A 2x (Juventus)</li>
          <li>Coppa Italia (Juventus)</li>
          <li>Italian Super Cup 2x (Juventus)</li>
        </ul>
        <img src="../public/images/ronaldo-clubs.jpg" alt="cr7-club">
      
        <h3>National Team Titles</h3>
        <ul>
          <li>UEFA European Championship (Portugal)</li>
          <li>UEFA Nations League (Portugal)</li>
        </ul>
        <img src="../public/images/ronaldo-portugal.jpg" alt="cr7-pt">
      </div>
</body>
</html>